body{
    background-color: #d6e2f0;
    text-align: center;
    font-family: 'Outfit', sans-serif;
}
.white-container{
background-color: white;
width: 25%;
margin: 120px auto;
box-shadow: 5px 20px 100px -30px #7b879d;
border-radius: 25px;
}


h1{
    width: 80%; 
    margin: auto;
    
}


p{
    width: 80%; 
    margin: auto;
    font-size: 20px;
    font-weight: 200;
    padding-top: 20px;
    padding-bottom: 50px;
    
}


img{
    width: 90%;
    padding-top: 20px;
    padding-bottom: 30px;
}